.text-right{
  float: right;
}
.text-center{
  text-align: center;
}
.mt-15{
  margin-top: 15px;
}
span{
  font-weight: 500;
  cursor: pointer;
}
.ml-5{
  margin-left: 5px;
}
.mr-5{
  margin-right: 5px;
}
.sort_selected::after{
  content:'\f00c';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 0 10px;
  display: inline-block;
  background-color: brown;
}